<%- include('./partials/header') %>


  <section class="pefil">

    <div class="avatar d-inline-flex" style="height:auto">
      <div class="avatartext">
        <div class="card border-0" style="width: 12rem;">
          <img class="card-img-top p-2" src="../img/avatarProfile.png" alt="Imagem de capa do card">
          <div class="card-body">
            <h5 class="card-title">Nome do usuário</h5>
          </div>
          <div class="list-group">
            <a href="#" class="list-group-item list-group-item-action active"
              style='border: solid 1px #00AFEF; background-color: #00AFEF;'>
              Minha Conta
            </a>
            <a href="#" class="list-group-item list-group-item-action">Alterar Senha</a>
            <a href="#" class="list-group-item list-group-item-action">Meus Pedidos</a>
            <a href="#" class="list-group-item list-group-item-action">Lista de Desejos</a>
          </div>

        </div>
      </div>


      <div class="campodado border p-4 align-self-start">
        <div class="titletext card-body p-0 w-50">
          <h5 class="card-title">Minha Conta</h5>
          <h5 class="small" style="width: 300px;">Confirme ou edite seus dados cadastrais:</h5>
        </div>
        <div>
          <% if(typeof errors !== 'undefined'){%>           
          <ul>
            <% for(let error in errors) {%>
              <li>
                <b><%= error  %>: </b>
                <%= errors[error].msg %>
              </li>
              <% } %> 
          </ul>
        <% } %> 
        <form method="POST" action="/painel/editar">
          <div class="titletextt form-row d-inline-flex ">
            <div class="col-md-6 mb-3" style="margin-right: 1%;">
              <label for="validationDefault01">Primeiro nome</label>
              <input type="text" class="form-control" id="validationDefault01"  placeholder="Nome" value="<%= locals.old && old.Nome %>" name="Nome">
            </div>
            <div class="col-md-6 mb-3" style="margin-right: 1%;">
              <label for="validationDefault02 ">Sobrenome</label>
              <input type="text" class="form-control" id="validationDefault02"  placeholder="Sobrenome" value="<%= locals.old && old.Sobrenome %>" name="Sobrenome"
                >
            </div>
            <div class="col-md-4 mb-3" style="margin-right: 1%;">
              <label for="validationDefaultUsername">Usuário</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="inputGroupPrepend2">@</span>
                </div>
                <input type="text" class="form-control" id="validationDefaultUsername" value="<%= locals.old && old.Usuario %>"  placeholder="Usuário"
                  aria-describedby="inputGroupPrepend2" name="Usuario" >
              </div>
            </div>

          </div>
          <div class="titletextt form-row d-inline-flex">
            <div class="col-md-6 mb-3" style="margin-right: 1%;">
              <label for="validationDefault03">E-mail</label>
              <input type="email" class="form-control"  id="validationDefault03" placeholder="E-mail" value="<%= locals.old && old.Email %>" name="Email">
            </div>
            <div class="col-md-6 mb-3" style="margin-right: 1%;">
              <label for="validationDefault04">CPF</label>
              <input type="text" class="form-control" id="validationDefault04" placeholder="CPF"  value="<%= locals.old && old.CPF %>" name="CPF">
            </div>


          </div>

          <div class="titletext card-body p-0" style="margin-top:10px">
            <h5 class="card-title">Endreço Principal</h5>
            <h5 class="small" style="width: 300px;">Confirme ou edite seu endereço:</h5>
          </div>

          <div class="titletextt form-row d-inline-flex">
            <div class="col-md-10 mb-3" style="margin-right: 1%;">
              <label for="validationDefault03">Endereco</label>
              <input type="text" class="form-control" id="validationDefault03" placeholder="Endereco" value="<%= locals.old && old.Endereco %>" name="Endereco" >
            </div>
            <div class="col-md-1 mb-3" style="margin-right: 1%;">
              <label for="validationDefault03">Nº</label>
              <input type="text" class="form-control" id="validationDefault03" placeholder="Nº" value="<%= locals.old && old.Numero %>" name="Numero" >
            </div>
            <div class="col-md-5 mb-3" style="margin-right: 1%;">
              <label for="validationDefault03">Complemento</label>
              <input type="text" class="form-control" id="validationDefault03" placeholder="Complemento" value="<%= locals.old && old.Complemento %>" name="Complemento" >
            </div>
          </div>
          <div class="titletextt form-row d-inline-flex">
            <div class="col-md-4 mb-3" style="margin-right: 1%;">
              <label for="validationDefault03">Bairro</label>
              <input type="text" class="form-control" id="validationDefault03" placeholder="Bairro" value="<%= locals.old && old.Bairro %>" name="Bairro" >
            </div>
            <div class="col-md-3 mb-3" style="margin-right: 1%;">
              <label for="validationDefault03">Cidade</label>
              <input type="text" class="form-control" id="validationDefault03" placeholder="Cidade" value="<%= locals.old && old.Cidade %>" name="Cidade" >
            </div>
            <div class="col-md-2 mb-3" style="margin-right: 1%;">
              <label for="validationDefault04">Estado</label>
              <input type="text" class="form-control" id="validationDefault04" placeholder="Estado" value="<%= locals.old && old.Estado %>" name="Estado" >
            </div>
            <div class="col-md-2 mb-3" style="margin-right: 1%;">
              <label for="validationDefault05">CEP</label>
              <input type="text" class="form-control" id="validationDefault05" placeholder="CEP" value="<%= locals.old && old.CEP %>" name="CEP" >
            </div>
          </div>


          <div class="form-group">
            <div class="titletextt form-check" style="margin-left: 65%;">
              <input class="form-check-input" type="checkbox" value="" id="invalidCheck2" >
              <label class="form-check-label" for="invalidCheck2">
                Concordo com os termos e condições
              </label>
            </div>
          </div>
          <a href="./productlist">
          <button class="titletextt btn btn-primary p-2"
            style='border: solid 1px #00AFEF; background-color: #00AFEF; width: 250px; margin-left: 70%;'
            >editar dados
            cadastrais</button></a>
        </form>
      </div>
      </div>
    </div>


    <div class="campodados border p-4 align-self-start">
      <div class="titletext card-body p-0 w-50">
        <h5 class="card-title">Meus Pedidos</h5>
        <h5 class="small" style="width: 300px;">Confirme ou edite seus pedidos:</h5>
      </div><br>
      <div class="pedidos" style="text-align: center;">
        <h5>Você ainda não efetuou nenhum pedido!
        </h5><br>
      </div>
      <form>
        <button class="titletextt btn btn-primary p-2 w-25"
          style='border: solid 1px #00AFEF; background-color: #00AFEF; width: 250px; margin-left: 73%;'
          type="submit">ver todos produtos</button>
      </form>

    </div>

    <div class="campodesejos border p-4 align-self-start">
      <div class="titletext card-body p-0 w-50">
        <h5 class="card-title">Lista de Desejos</h5>
      </div><br>
      <div class="pedidos" style="text-align: center;">
        <h5>Não existem produtos adicionados.
        </h5>
        <h5 class="small">Para adicionar produtos à lista de desejos, você deve entrar na página de produtos e clicar em "Lista de Desejos"</h5>
        <br>
      </div>
      <form>
        <button class="titletextt btn btn-primary p-2 w-25"
          style='border: solid 1px #00AFEF; background-color: #00AFEF; width: 250px; margin-left: 73%;'
          type="submit">ver todos produtos</button>
      </form>

    </div>
  </section>

  <%- include('./partials/footer') %>