<%- include('./partials/header') %>

    <body>
                <% if (typeof errors != "undefined") { %> 
                <div class="alert-danger">
                    <ul>
                        <% for (let i = 0; i < errors.length; i++) { %>
                            <li><%= errors[i].msg %> </li>
                        <% }} %>
                    </ul>
                </div>
                <div class="container">
                    <div class="content first-content">
                        <div class="first-column">
                            <h2 class="title title-primary">RocketGames</h2>
                            <p class="description description-primary">Para se manter conectado conosco faça o login com
                                seus
                                dados pessoais!</p>
                                <a href="http://localhost:3000/login"><button id="signin" class="btn btn-primary"
                                    style="background-color: #00AFEF ; border: solid 1px rgb(149, 208, 235)">Entrar</button></a>
                        </div>
                        <div class="second-column">
                            <h2 class="title title-second mb-3">Crie sua Conta</h2>
                            <form class="form" method="POST" action="/cadastro">
                                <input class="mb-3" type="text" name="nome" placeholder="Digite seu nome">
                                <input class="mb-3" type="email" name="email" placeholder="Digite seu e-mail">
                                <input class="mb-3" type="password" name="senha" placeholder="Digite sua senha">
                                <a href="http://localhost:3000/cadastro"><button class="btn btn-second"
                                        style='border: solid 2px rgb(149, 208, 235)'>Criar</button></a>
                            </form>
                        </div><!-- second column -->
                    </div><!-- first content -->
                    <div class="content second-content">
                        <div class="first-column">
                            <h2 class="title title-primary">Rocket Games!</h2>
                            <p class="description description-primary">Crie sua conta e veja os lançamentos!</p>

                            <button id="signup" class="btn btn-primary"
                                style="background-color: #00AFEF ; border: solid 1px rgb(149, 208, 235)">Criar
                                Conta</button>
                        </div>
                        <div class="second-column">
                            <h2 class="title title-second mb-3">ROCKETGAMES</h2>
                            <form class="form" method="POST" action="/login/entrar">
                                <input class="mb-3" type="email" name="email" placeholder="Email"
                                    value="<%= locals.old && old.email %>">

                                <input class="mb-3" type="password" name="password" placeholder="Senha"
                                    value="<%= locals.old && old.password %>">
                                <a class="password" href="#">Esqueceu sua senha?</a>
                                <a href="http://localhost:3000/login/entrar"><button class="btn btn-second"
                                        style="border: solid 2px rgb(149, 208, 235)">Entrar</button></a>
                            </form>
                        </div><!-- second column -->
                    </div><!-- second-content -->

                </div>
    </body>

    <%- include('./partials/footer') %>